body {
  height: 100vh;
  width: 100vw;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.question-container {
  padding: 3rem;
  /* background-color: rgb(105, 48, 195, 0.8); */
  box-shadow: 0px 0px 4px;
  max-width: 600px;
}
