@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;700&family=Roboto:wght@100;300;900&display=swap");

:root {
  --main-bg-color: #232752;
  --light-blue: #07ffdb;
  --light-yellow: #ffdf2b;
  --dark-yellow: #ffbd59;
  --light-purple: #a542f7;
  --dark-purple: #883bc8;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
}

#logo {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: var(--light-blue);
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
}

#subtitle {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: "Oswald";
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#landing {
  padding: 3rem;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-around;
}

#game-code-container {
  display: flex;
  align-items: center;
}

.separator {
  font-size: 3rem;
  margin: 0 1rem;
  text-align: center;
}

#timer {
  color: var(--light-yellow);
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

#question-container {
  background-color: var(--light-purple);
  color: #fff;
}

input,
button,
.btn,
.btn:active,
.btn:visited {
  outline: none;
  background-color: var(--dark-purple);
  color: #fff;
  border-color: var(--dark-purple);
  padding: 2rem;
  min-width: 200px;
  font-family: "Oswald";
  text-align: center;
}

#landing input {
  font-size: 3rem;
  padding: 0 1rem;
  background: none;
  text-transform: uppercase;
}

button:hover,
.btn:hover,
#player-list li.checked,
.checked,
.btn-group-vertical label:hover,
.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
  background-color: var(--dark-yellow);
  color: #fff;
  border-color: var(--dark-yellow);
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 0.5; /* Firefox */
}

#game-id {
  color: var(--light-yellow);
  font-size: 5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

#error {
  color: var(--light-yellow);
}

#exit {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  color: var(--light-blue);
  opacity: 0.3;
  cursor: pointer;
}

#exit:hover {
  opacity: 1;
}

#lobby {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  align-items: center;
}

#player-list {
  height: 45vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  width: 70vw;
  align-items: center;
}

#player-list li {
  background-color: var(--light-purple);
  color: #fff;
  margin: 0.5rem;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 27px;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 200px;
}

#player-list li .score {
  color: var(--light-yellow);
}

.btn-group-vertical {
  width: 70vw;
  padding: 2rem;
  align-items: center;
}

.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group {
  background-color: var(--dark-purple);
  border-color: var(--dark-purple);
  color: #fff;
  padding: 1rem;
  border-radius: 20px;
  width: 200px;
  border: 1px solid var(--light-purple);
}

.btn-group-vertical > .question-text {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.btn-group-vertical * {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 300;
}
